<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neu.user.mapper.UserMapper">
    <select id="findUser" resultType="com.neu.user.entity.User" parameterType="map">
            <![CDATA[
            select  d.* from
            (select u.*,rownum r
                from user0 u) d
            where r>(#{index}-1)*#{size} and r<=#{index}*#{size}
            ]]>

    </select>
<!--  查询总记录数-->
    <select id="count" resultType="int">
        select count(1) from user0
    </select>
<!--根据id删除记录-->
    <delete id="deleteUser" parameterType="com.neu.user.entity.User">
        delete from user0 where userid=#{userid}

    </delete>
<!-- 根据id修改记录-->
    <update id="updateUser" parameterType="com.neu.user.entity.User">
       update user0 set uname=#{uname},upwd=#{upwd},type=#{type},age=#{age},money=#{money},time=#{time}
            where userid=#{userid}
    </update>
<!-- 根据id查询数据-->
    <select id="findById" resultType="com.neu.user.entity.User">
        select * from user0 where userid=#{userid}
    </select>
<!-- 用户登陆-->
    <select id="login" resultType="com.neu.user.entity.User">
        select * from user0 where uname=#{uname} and upwd=#{upwd}
    </select>
<!-- 用户注册-->
    <insert id="regist" parameterType="com.neu.user.entity.User">
        insert  into user0(userid,uname,upwd,type,age,money,time)
        values(seq_user0.nextval,#{uname},#{upwd},#{type},20,null,null)
    </insert>
<!--  模糊查询-->
    <sql id="sql1">
        select d.* from
        (select u.*,rownum r
        from user0 u
    </sql>
    <sql id="sql2">
        <![CDATA[
            )d
            where r>(#{index}-1)*#{size} and r<=#{index}*#{size}
        ]]>
    </sql>
    <select id="findUserMo" resultType="com.neu.user.entity.User">
        <include refid="sql1"></include>
        <where>
            <if test="uname!=null and uname!=''">
                and uname like '%${uname}%'
            </if>
        </where>
        <include refid="sql2"></include>
    </select>

<!-- 模糊查询总记录数-->
    <select id="countMo" resultType="int">
        select count(*) from user0
        <where>
            <if test="uname!=null and  uname!=''">
                uname like '%${uname}%'
            </if>
        </where>
    </select>
  </mapper>